body,
html {
  background-color: gray;
  height: 100%;
}

#video {
  width: 800px;
  height: auto;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  margin-bottom: 2px;
}

article {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 2px;
}
